In [ ]:
import pandas as pd

df = pd.read_csv("csvs/probes.csv")
df.columns = ["country","probe_id","ping"]
df["probe_id"] = df.probe_id.str.split(n=1, expand=True)[1].astype(int)
df["ping"] = df["ping"].apply(lambda x: 1 if x == "funciona" else 0)


df.to_csv("csvs/probes.csv")

          country  probe_id  ping
0           Kenya      6882     1
1    South Africa      7404     1
2         Morocco   1006594     1
3           Chile     30100     1
4          Mexico      6420     1
5          Canada     52002     1
6          Taiwan     61304     1
7     Philippines     65977     1
8           India   1010721     1
9         Finland     10638     0
10        Ireland   1000929     1
11       Bulgaria   1010523     1
12      Australia   1003179     1
13    New Zealand   1009345     1
14  New Caledonia      7018     1
15         Poland   1009548     1